<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>客户留言</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../layui/css/layui.css" rel="stylesheet" />

</head>
<body>


<div style="padding: 16px;"> 
  <table class="layui-hide" id="test" lay-filter="test"></table>
</div>



<script type="text/html" id="barDemo">
  <div class="layui-clear-space">
    <a class="layui-btn layui-btn-xs" lay-event="delRow">删除</a>
  </div>
</script>  
<script src="../layui/layui.js"></script>
<script>

layui.use(function(){
  let table = layui.table;
  var dropdown = layui.dropdown;
  var upload = layui.upload;
  var element = layui.element;
  let $=layui.$;
  // 创建渲染实例
	table.render({
    elem: '#test',
    url: 'contactslist', 
    height: 'full-35', // 最大高度减去其他容器已占有的高度差
    css: [ // 重设当前表格样式
      '.layui-table-tool-temp{padding-right: 145px;}'
    ].join(''),
    cellMinWidth: 80,

    page: true,
    cols: [[
      {field:'id', fixed: 'left', width:80, title: 'ID', sort: true},
      {field:'name', width:180, title: 'name'},
	  {field:'email', width:280, title: 'email'},
      {field:'content', width:280, title: 'content'},
	  {field:'created_date', title:'date', width: 180},
      
	  
      {fixed: 'right', title:'操作', width: 134, minWidth: 125, toolbar: '#barDemo'}
    ]],
    done: function(){
      var id = this.id;
	  console.log(id);
    },
    error: function(res, msg){
      console.log(res, msg)
    }
  });
  
 
  // 触发单元格工具事件
  table.on('tool(test)', function(obj){ // 双击 toolDouble
    var data = obj.data; // 获得当前行数据
    // console.log(obj)
    if(obj.event === 'delRow')
		{
            layer.confirm('真的删除行 [id: '+ data.id +'] 么', function(index){
              obj.del(); // 删除对应行（tr）的DOM结构
              layer.close(index);
              // 向服务端发送删除指令
			  layui.$.post('contactdel',{contactid:data.id,_token:'{{csrf_token()}}'},function(res){console.log(res);
			  window.location.reload()
			  }
			  );
            });
          } 
	
  });
     
});


</script>
</body>
</html>