<div class="xf_footer">
    <!-- 公共底部 -->
    <footer>
        <div class="footer1">
            <!--<div class="msg">
                <a href="/">首页</a>
               
                <a href="productandservice">产品与服务</a>
                <a href="news">新闻动态</a>

                
                <a href="contacts">联系我们</a>
            </div>
        -->
            <div class="tel">
                <a href="#">
                    <img  src="../../../../uploads/telphone.png" />
                    <span>业务联系：15627383338</span>
                </a>
                <a href="#">
                    <img  src="../../../../uploads/telphone.png" />
                    <span>网站制作：15919731630</span>
                </a>
                

                
            </div>
        </div>
        <div class="footer2">
            <div class="copyright">
                <span><%=company%></span>
                <span><%=icp%></span>
                <span><%=isp%></span>
                <span>公司地址：<%=address%></span>
            </div>
        </div>
    </footer>
    <!-- 公共底部 end -->
</div>

<style>
.clear:after {
content: "";
display: block;
clear: both;
height: 0;
visibility: hidden;
overflow: hidden;
}

.clear {
zoom: 1;
}

.xf_footer li {
list-style: none;
}

.xf_footer a {
text-decoration: none;
cursor: pointer;
color: #737373;
}

.xf_footer img {
vertical-align: top;
border: 0;
}
/**********footer**********/
.xf_footer{

background: #3e2d23;
}
.xf_footer footer{
width: 100%;

margin: 0 auto;
overflow: hidden;
}
.xf_footer footer .footer1{
overflow: hidden;
text-align: center;
}
.xf_footer footer .footer1 .msg{
display: flex;
justify-content:space-around;
margin-left: 8px;

}
.xf_footer footer .footer1 .msg >a{
color: #fff;
border-right: 1px solid #b3a59c;
}
footer .footer1 .msg >a:last-child{
border: 0;
}

.xf_footer footer .footer1 .tel a{
margin-right: 16px;
color: #fff;
}
.xf_footer footer .footer1 .tel a img{
width: 20px;
height: 20px;
margin-right: 3px;
}
.xf_footer footer .footer2{
text-align: center;
color: #fff;

}

.xf_footer footer .footer2 .copyright{
text-align: center;
color: #fff;
display: flex;
justify-content:space-around;
}


@media screen and (max-width: 800px) {

    .clear:after {
content: "";
display: block;
clear: both;
height: 0;
visibility: hidden;
overflow: hidden;
}

.clear {
zoom: 1;
}

.xf_footer li {
list-style: none;
}

.xf_footer a {
text-decoration: none;
cursor: pointer;
color: #737373;
}

.xf_footer img {
vertical-align: top;
border: 0;
}
/**********footer**********/
.xf_footer{

background: #3e2d23;
}
.xf_footer footer{
width: 100%;

margin: 0 auto;
overflow: hidden;
}
.xf_footer footer .footer1{
overflow: hidden;
text-align: center;
}
.xf_footer footer .footer1 .msg{
display: flex;
justify-content:space-around;
margin-left: 8px;

}
.xf_footer footer .footer1 .msg >a{
color: #fff;
border-right: 1px solid #b3a59c;
}
footer .footer1 .msg >a:last-child{
border: 0;
}

.xf_footer footer .footer1 .tel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xf_footer footer .footer1 .tel a{
margin-right: 16px;
color: #fff;
}
.xf_footer footer .footer1 .tel a img{
width: 20px;
height: 20px;
margin-right: 3px;
}
.xf_footer footer .footer2{
text-align: center;
color: #fff;

}
.xf_footer footer .footer2 .copyright{
text-align: center;
color: #fff;
display: flex;
flex-direction: column;
justify-content:space-around;
}

}







</style>