<style>
    /* 页脚 */
  .footer {
    padding: 5px;
    text-align: center;
 
    margin-top: 5px;

    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    
  }
</style>

<div class="footer">
    <%-include('company')%>
</div>